*{
  margin: 0;
  padding: 0;
}

img {
  width: 50rem;
  
}
.containerCarrousel{
  display: flex;
  justify-content: center;
}
.deslizar{
  display: flex;
  align-items: center;
  gap: 3rem; 
  font-size: 3rem;
}