
.containerCarrousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerCarrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 3rem;
  width: 100vw;
  height: 80rem;
  font-size: 3rem;
  margin-top: -13rem;
  z-index: -1;
}

.carrouselInfo {
  position: absolute;
  width: min(35rem, 100%);
  z-index: 1;
  left: 20rem;
}

.containerCarrousel::before{
  content: '';
  position: absolute;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 21%, rgba(31, 30, 30, 1) 100%);
  z-index: 1;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  /* .containerCarrousel {
    
  } */
  .carrouselInfo {
    left: auto;
    font-size: 2rem;
  }
  .carrouselInfo > * {
    margin: 0 2rem;
  }
  /* make responsive img */ 
  /* .containerCarrousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

 
}
  
