a{
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}
li{
  list-style: none;
  
}
ul{
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}
a:hover{
  
  text-decoration: underline;
}

.navbar {
  display: flex;
  top: 0;
  height: 7rem;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 20rem ;
  z-index: 1;
  /* color: #ffe8dc; */
  transition: 250ms;
  position: sticky;
  background-color: transparent;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  
}
.navbar> img {
  width: 7rem;
  border-radius: .8rem;

}
.navbar.transparent {
background-color: transparent;
}
.navbar.filled {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(255,155,113,1) 100%); 

}