.nav_link{
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}
.nav_links >li{
  list-style: none;
}
.nav_links{
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}
.nav-target {
  background: none;
  border: none;
  display: none;
}
.nav_link:hover{
  text-decoration: underline;
}

.navbar {
  display: flex;
  top: 0;
  height: 7rem;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 20rem ;
  z-index: 1;
  position: sticky;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  
}
.navbar::before {
  content: '';
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #ff9b71 100%); 
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  transition: opacity .5s ease;
}

.navbar> img {
  width: 7rem;
  border-radius: .8rem;

}
.navbar.transparent::before {
  opacity: 0;
}
.navbar.filled::before {
  opacity: 1;

}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    text-align: center;
    padding: 1rem 2rem;
    gap: 3rem;
  }
  

  .navbar> img {
    width: 4rem;
    border-radius: .8rem;
    
  }
  .nav_links {
    position: fixed;
    left: 0;
    bottom: -7rem;
    top: 0;
    padding-top: 7rem;
    padding-bottom: 7rem;
    right: 0;
    z-index: 0;
    background-color: #ff9b71;
    display: grid;
    place-items: center;
    clip-path: circle(0% at top right);
    transition: clip-path .4s;
  }
  .nav_link{
    font-size: 1.5rem;
    text-decoration: none;
  }
  .nav_links:target {
    clip-path: circle(150% at top right);
  }

  .nav-target svg {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    color: #ffffff;
  }

  .nav-target {
    display: block;
  }

}