.container-fluter {
  display: flex;
  flex-direction: column; 
  text-align: center;
  gap: 3rem;
  width: 90%;
  padding: 10rem;
  font-size: 1.2rem;
  margin: 0 auto;
}
.container-fluter h2 {
  font-size: 3rem;
}

.footer-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}


@media screen and (max-width: 768px) { 
  .container-fluter{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0;
  }
  
  .footer-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }
}